@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$hover: #0756ff;
$alpha: 0.1;
$cortexto: #212529;
$cortextobotao: #fff;
$corbotao: #2196f3;
$corbotaohover: #0c7cd5;
$Corbordainput: #ced4da;

#loading {
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#container { 
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px #424242;
}
@keyframes hovercard {
    from {
        background-color: #FFFFFF;
    }
    to {
        background-color: rgba($hover, $alpha);
    }
}
#card-row {   
    
    display: flex;
    border-radius: 5px;
    border-color: rgb(76, 36, 221);
    border-width: 1px ;
    padding: 10px;
    border-style: solid;
    margin: 2px;
   

    
    
}
#card-row:hover {
    animation-name: hovercard;
    animation-duration: 0.5s;
    background-color: rgba($hover, $alpha) ;
}


.Divider {
    margin-left: 20px;
    align-self: center;
    justify-content: center;
}

p { 
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 11pt;
    color: #212529;
    align-self: flex-start;
}
.button {
    background-color: $corbotao;
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    font-size: 11pt;
    margin: 4px 2px;
    opacity: 0.9;
    transition: 0.3s;

    text-decoration: none;
    cursor: pointer;

   


  }
  
  .button:hover {
    background-color: $corbotaohover;
    opacity: 1

    }

.DividerButton {

display: flex;
width: 100%;
align-items: center;
justify-content: flex-end;
}
  

