
#loading {
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#container { 
    margin-top: 20px;
    width: 100%;
    height: 100%;
}
@keyframes hovercard {
    from {
        background-color: #FFFFFF;
    }
    to {
        background-color: rgba($color: #0756ff, $alpha: 0.2);
    }
}
#card-row {   
    border-radius: 5px 5px 5px 5px;
    border-color: rgb(76, 36, 221);
    border-width: 1px ;
    margin: 5px;  
    border-style: solid;
    padding: 15px;
}
#card-row:hover {
    animation-name: hovercard;
    animation-duration: 1s;
    background-color: rgba($color: #0756ff, $alpha: 0.2) ;
}