
<div *ngIf="loading" id="loading">
    <mat-spinner></mat-spinner>
</div>



<div id="container">
    <div *ngFor="let aluno of alunos">
        <div id="card-row">
            <img class="avatar" src="../../assets/avatar.png" width="50" height="50">
            <div class="Divider">
                <p>{{aluno.Nome}}</p>
                <p>{{aluno.Email}}</p>
            </div>
            <div class="Divider">
                <p>{{aluno.DataNascimento}}</p>
                <p>{{aluno.Email}}</p>
            </div>
            
        </div>
    </div>
</div>
         
